<div class="container">
  <div class="header clearfix rounded">

    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://deejxue.aternos.me/" target="_blank">Play Minecraft</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://github.com/deejxue" target="_blank">Github</a>
        </li>
      </ul>
    </nav>
    
    <h3 id="scrape-title">Scraping the Mine....</h3>
  </div>
  <hr>
  <div class="container oped rounded">
    {{!--Display headlines and article snippets for user comments/opinion.--}}
    <div class="row">
      <h1><a href="{{result.link}}" target="_blank">{{result.title}}</a></h1>
      <p>{{result.articleSnippet}}</p>
    </div>

    <div class="row">
      <h2>Your Views and Opinions....</h2>
    </div>

    {{!--If no opinions, then display this ptag text--}}
    <div class="row">
      {{#unless result.opinion}}
      <p>No opinions posted yet... What's your thoughts?</p>
      {{/unless}}
    </div>


    {{!--Iterate through opinions==>author and message / display them / delete them <==options --}}
    <div class="row">
      <ul>
        {{#each result.opinion}}
        <li style="list-style: none">
          <h5>Name: {{this.name}} </h5>
          <p>Message: {{this.body}}</p>
          <button class="delete-button btn btn-secondary" data-opinion="{{this._id}}">Delete your opinion</button>
        </li>
        {{/each}}
      </ul>
      
    </div>
    <div class="row">
      <h2>What do you think??</h2>
    </div>
    {{!--Connect POST method here==>adds user opinions and saves to MongoDB--}}
    <form method="POST" action="/articles/{{result._id}}">
      <div class="form-group row">
        <label for="name" class="col-form-label">Name</label>
        <input class="form-control" type="text" name="name" id="name" required>
      </div>
      <div class="form-group row">
        <label for="body">Message</label>
        <textarea class="form-control" id="body" name="body" rows="3" required></textarea>
      </div>
      <button class="btn btn-danger" type="submit">Submit</button>
    </form>
  </div>

  <br>
  <br>
  <br>

  <footer class="footer">
    <div class="container">
      <p>&copy; Fire Dragon 2017</p>
    </div>
  </footer>
</div>